./node_modules
./dist
./coverage
./.env
./.DS_Store
./.vscode
./.idea
./.eslintcache
./.prettiercache
./.nyc_output
./.cache
./logs
./*.log
./*.tsbuildinfo
./*.tgz
./*.zip
./*.tar.gz
./*.bak
./*.tmp
./*.swp
